<% if @user.errors.any? %>
  <div id="error_explanation">
    <h2>Il y a, a l'origine de cet echec <%= pluralize(@user.errors.count, "erreur")%></h2>
    <p>Voici ces dernieres:</p>
    <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>