
		<h1>Welcome, it's going to be legend, wait for it...</h1>
		<p>
			And I hope you're not lactose intolerant because the second half of it is...
		</p>
		<hr/>
		<p>...dary.</p>
		<%= link_to "Sign up now!", signup_path, :class => "signup_button round" %>
